#contentDiv {
    display: block;
    max-width: 225px;
    position: absolute;
    z-index: 10180;
}

.monthDiv {
	text-align: center;
	background-color: black;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 30px;
}

.monthDivItem {
	display: inline-block;
}

.prevMonth {
	float: left;
	cursor: pointer;
}

.nextMonth {
	float: right;
	cursor: pointer;
}

.monthText {
	margin-top: 5px;
    color: white
}

.calContainer {
    max-width: 225px;
	border: 1px solid black;
	background-color: black;
}
.calWrapperHeaderDiv {
    max-width: 215px;
    background-color: black;
    padding: 5px;

}

.calHeaderDay {
    height: 30px;
    width: 30px;
    color: white;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: -3px;
    background-color: #696969;
}

.calWrapperDiv {
    max-width: 215px;    
    background-color: black;
    padding: 5px;

}

.calDay {
    height: 30px;
    width: 30px;
    color: white;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: -3px;
    background-color: black;
    cursor: pointer;
}

.calDay.selected {
    background-color: #007ee6;
    color: white;
}

.calDay.selected .calDayText{
    background-color: #007ee6;
    color: white;
}

.calDay:hover {
    background-color: #007ee6;
    color: white;
}

.calDay:hover .calDayText.active, .calDay:hover .calDayText.inactive {
    background-color: #007ee6;
    color: white;
}

.calDayText {
    position: relative;
    margin-top: 5px;
    text-align: center;
}

.calDayText.active {
    color: white;
}


.calDayText.inactive {
    color: #808080;
}